<div class="columns" id="sidebar">
  <div class="column is-12" style="background-color: #1F2833; position: relative; overflow: visible; height: 100%;">
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <div class="is-center">
            <div class="card" style="background-color: #353839; top: -12px;">
              <div class="card-content" style="height: 78px; margin-left: -18px; padding-top: 19px; padding-left: 35px;">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="assets/image/me.jpg" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title" style="font-size: medium; color: white;">Welcome</p>
                      <p class="subtitle" style="font-size: small; color: white;">King <b>Caubalejo</b></p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </li>
        <li class="f-13">
          <a class="" routerLink="/dashboard">
            <span class="icon"><i class="fa fa-home"></i></span>Dashboard
          </a>
        </li>
        <li class="f-13">
          <ul>
            <a class="toggle" href="javascript:void(0);">
                <span class="icon"><i class="fa fa-bullseye"></i></span>UI Element<span class="icon is-pulled-right"><i class="fas fa-caret-up"></i></span>
            </a>
            <ul class="inner">
              <li class="f-13 p-l-15">
                <a>Colors</a>
              </li>
              
              <li class="f-13 p-l-15">
                <a>Buttons</a>
              </li>

              <li class="f-13 p-l-15">
                <a>Icon</a>
              </li>

              <li class="f-13 p-l-15">
                <ul>
                  <a class="toggle">
                    Messages<span class="icon is-pulled-right"><i class="fas fa-caret-up"></i></span>
                  </a>
                  <ul class="inner">
                    <li class="p-l-30">
                      <a>Sweet Alert</a>
                    </li>
                    <li class="p-l-30">
                      <a>Growl</a>
                    </li>
                    <li class="p-l-30">
                      <a (click)="openModalInstance('disp-modal-ter')">Modal</a>
                    </li>
                  </ul>
                </ul>
              </li>

            </ul>
          </ul>
        </li>
        <li class="f-13">
          <a>
            <span class="icon"><i class="fas fa-chart-line"></i></span>Charts
          </a>
        </li>
        <li class="f-13">
          <a>
            <span class="icon"><i class="fas fa-archive"></i></span>Containers
          </a>
        </li>
        <li class="f-13">
          <a>
            <span class="icon"><i class="fas fa-table"></i></span>Tables
          </a>
        </li>
        <li class="f-13">
          <a>
            <span class="icon"><i class="fas fa-window-restore"></i></span>Forms
          </a>
        </li>
      </ul>
    </aside>
  </div>
</div>