<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>LibreEh</strong> by <a href="thekingspaghettie@gmail.com">Caubalejo King Lawrence</a>. All rights reserve 2018.
      </p>
    </div>
  </div>
</footer>