<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
    <div class="columns">
        <div class="column is-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="column is-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->


