#header {
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
}

.navbar-dropdown-menu{
    color: white;
}

#header .navbar-end a.navbar-item:hover {
    background-color: black !important;
    color: white;
}