<header id="header" class="header">
  <nav class="navbar is-black" style="list-style: none; margin-bottom: 0; position: relative;">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          <figure class="image is-32x32">
            <img src="assets/image/logo.png" alt="Image">
          </figure>
          <p>LibreEh</p>
        </a>
        <a class="navbar-item is-pulled-right show" style="margin-left: 116px;" (click)="onToggleSidebar($event)">
          <span class="icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item">
          <span class="icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
        </a>
        <a class="navbar-item">
          <span class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item">
            <span class="icon"><i class="fas fa-cog navbar-dropdown-menu" aria-hidden="true"></i></span>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item">My Account</a>
            <a class="navbar-item">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
