/* You can add global styles to this file, and also import other style files */
body {
    margin:0px;
    padding:0px;
    background-color: #edecec;
    min-height: 100vh !important;
    line-height: 1.42857143;
    /* background-color: #414a4c; */
    /* background-color: #1F2833; */
}
.fore-color {
    color: #45A29E !important;
}

#footer-new {
    bottom: 0;
    text-align: center;
    width: 100%;
    /* height: 110px; */
    color: #a2a2a2;
    padding-top: 35px;
    padding-bottom: 15px;
}