<div style="margin-left: 100px; margin-top: 53px;">
  <!-- <section class="accordions">
    <article class="accordion">
      <div class="accordion-header toggle">
        <p>Hello World</p>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </div>
    </article>
    <article class="accordion">
      <div class="accordion-header">
        <p>Hello World</p>
        <button class="toggle" aria-label="toggle"></button>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </div>
    </article>
    <article class="accordion">
      <div class="accordion-header">
        <p>Hello World</p>
        <button class="toggle" aria-label="toggle"></button>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </div>
    </article>
  </section> -->

  <h2>Accordion</h2>

    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="content">
        <ul>
            <li>
              <a class="toggle" href="javascript:void(0);">Item 1</a>
              <ul class="inner">
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
              </ul>
            </li>
            
            <li>
              <a class="toggle" href="javascript:void(0);">Item 2</a>
              <ul class="inner">
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
              </ul>
            </li>
            
            <li>
              <a class="toggle" href="javascript:void(0);">Item 3</a>
              <ul class="inner">
                <li>
                  <a href="#" class="toggle">Open Inner</a>
                  <div class="inner">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus
                      blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.
                    </p>
                  </div>
                </li>
                
                <li>
                  <a href="#" class="toggle">Open Inner #2</a>
                  <div class="inner">
                    <p>
                      Children will automatically close upon closing its parent.
                    </p>
                  </div>
                </li>
                
                <li>Option 3</li>
              </ul>
            </li>
            
            <li>
              <a class="toggle" href="javascript:void(0);">Item 4</a>
              <ul class="inner">
                <li>
                  <a href="#" class="toggle">Technically any number of nested elements</a>
                  <ul class="inner">
                    <li>
                      <a href="#" class="toggle">Another nested element</a>
                      <div class="inner">
                        <p>
                          As long as the inner element has inner as one of its classes then it will be toggled.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus
                          blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.
                        </p>
                      </div>
                    </li>
                  </ul>
                </li>
                
                <li>Option 2</li>
                
                <li>Option 3</li>
              </ul>
            </li>
          </ul>
    </div>

</div>
